	*{
		margin:0px;
		padding:0px;
	}

	body{
	font-family: 'Roboto', sans-serif;
	font-size: 0.813em; 
	width: 100%;
	
	}
	

/*HEADER*****************************************************/
header{ /*menu fixo*/
	width: 100%; 
	height: 70px;
	position: fixed;
	z-index: 10000;
	min-width:320px;
	background-color: rgb(39,39,39);
}

header h1{ /* logo */
	position: absolute; top: 22%; left: 8%;
	display: inline;
	width: 9%; 
	min-width: 120px;
	height:47px;
	background-image:url(../imagens/icones/logo-digiudo-branco.png	);
	background-repeat:no-repeat;
	z-index:218;
	text-indent:-1000000px;

}

header ul{/* lista do menu*/
	position: absolute; top: 0%; left: 27%; 
	width: 50.5%; 
	height:40px;
	padding-top: 25px;
	padding-bottom: 5px;

}
header ul li{
	display: inline;
	list-style-type:none;
	
}
header ul li a{/* links do menu*/
	color: #fff;
	text-decoration:none;
	padding-left:1.5%; 
	padding-right:1.5%; 
	transition:0.5s;
	font-size: 1.3em; 
}

header ul li a:hover{ /* links do menu*/
	color:#ff9900;
	text-decoration:none;
	transition:0.5s;
}

div#area-busca{
	position: absolute; right: 8%; top: 0%;
	display: inline;
	width: 26.5%; 
	height: 70px;
}

img[alt="iconebusca"]{/*% referente a div#area-busca*/
	width: 15px;
	position: absolute; top: 40%;  right: 60.5%; 
	z-index: 9;
}

input[name="pesq"]{ /*% referente a div#area-busca*/
	width: 66.5%; 
	height: 30px;
	position:absolute; top: 30%;  right: 0%; 
	z-index:9;
	padding-left: 8.5%; 
}

label > span {
	display:none;
}
#menu{ /* Esse ID modifica o efeito da DIV do Menu JavaScript*/
	width: 100%; 
	height: 70px;
	position:fixed; top: 0%;
	z-index:9999;
	min-width: 320px;
	opacity: 1;
	background-color: rgb(39,39,39);
}

@media screen and (max-width:960px){
	
	header ul{/* lista do menu*/
	position: absolute; top: 0%; left: 22%; 
	z-index:13;

}

img[alt="iconebusca"]{/*% referente a div#area-busca*/

	position: absolute; top: 40%;  right: 59%; 

}
}